.signal{    
    background: url("../images/signal.png") no-repeat scroll center 0px transparent;
}
.signal1{    
    background: url("../images/signal.png") no-repeat scroll center -39px transparent;
}
.signal2{    
    background: url("../images/signal.png") no-repeat scroll center -82px transparent;
}
.signal3{    
    background: url("../images/signal.png") no-repeat scroll center -120px transparent;
}