html {
    padding: 0;
}

body {
    width: 250px;
    padding: 5px;
    font-family: JetBrains mono;
    background-color: #ccc;
}

footer {
    background-color: rgba(168, 166, 166, 0.473);
    text-align: center;
    padding: 2px;
    border-radius: 4px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background-color: #4CAF50;
    transition: width 2s;
    transition-timing-function: ease;
}

.progress-text {
    font-size: 12px;
    text-align: center;
    margin-top: 2px;
}

.status {
    background-color: rgb(238, 240, 240);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.mode-button {
    align-self: flex-start;
    margin-top: 0;
}

.no-internet {
    color: red;
    font-weight: 600;
    align-self: flex-end;
    padding-bottom: 8px;
}

.internet {
    color: rgb(4, 190, 4);
    font-weight: 600;
    align-self: flex-end;
    font-size: 14px;
    padding-bottom: 8px;
}

button {
    display: inline-block;
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
    font-family: JetBrains mono;
}

.restart {
    background-color: rgb(2, 187, 2);
    color: #181717;
}

.login {
    background-color: rgb(8, 168, 243);
    color: #181717;
}

button:hover {
    background-color: #e0e0e0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.light-mode {
    background-color: #f0f0f0;
    color: #333;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(231, 231, 231, 0.911);
    z-index: 9999;
    text-align: center;
    font-size: 20px;
    padding-top: 90%;
    padding-left: 10px;
    justify-content: center;
    transition: 0.5s;
    display: none;
}

#overlay::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    text-align: center;
}

.loading {
    width: 60%;
    display: flex;
    padding-left: 34px;
}

.signal-container {
    display: flex;
}

#signal{
    width: 40px;
    height: 30px;
}