:root {
    /* Primary Colors */
    --color-primary-50: #E3F2FD;
    --color-primary-100: #BBDEFB;
    --color-primary-200: #90CAF9;
    --color-primary-300: #64B5F6;
    --color-primary-400: #42A5F5;
    --color-primary-500: #2196F3;
    --color-primary-600: #1E88E5;
    --color-primary-700: #1976D2;
    --color-primary-800: #1565C0;
    --color-primary-900: #0D47A1;
  
    /* Secondary Colors */
    --color-secondary-50: #EDE7F6;
    --color-secondary-100: #D1C4E9;
    --color-secondary-200: #B39DDB;
    --color-secondary-300: #9575CD;
    --color-secondary-400: #7E57C2;
    --color-secondary-500: #673AB7;
    --color-secondary-600: #5E35B1;
    --color-secondary-700: #512DA8;
    --color-secondary-800: #4527A0;
    --color-secondary-900: #311B92;
  
    /* Additional Colors */
    --color-red-50: #FFEBEE;
    --color-red-100: #FFCDD2;
    --color-red-200: #EF9A9A;
    --color-red-300: #E57373;
    --color-red-400: #EF5350;
    --color-red-500: #F44336;
    --color-red-600: #E53935;
    --color-red-700: #D32F2F;
    --color-red-800: #C62828;
    --color-red-900: #B71C1C;
  
    --color-green-50: #E8F5E9;
    --color-green-100: #C8E6C9;
    --color-green-200: #A5D6A7;
    --color-green-300: #81C784;
    --color-green-400: #66BB6A;
    --color-green-500: #4CAF50;
    --color-green-600: #43A047;
    --color-green-700: #388E3C;
    --color-green-800: #2E7D32;
    --color-green-900: #1B5E20;
  
    --color-yellow-50: #FFFDE7;
    --color-yellow-100: #FFF9C4;
    --color-yellow-200: #FFF59D;
    --color-yellow-300: #FFF176;
    --color-yellow-400: #FFEE58;
    --color-yellow-500: #FFEB3B;
    --color-yellow-600: #FDD835;
    --color-yellow-700: #FBC02D;
    --color-yellow-800: #F9A825;
    --color-yellow-900: #F57F17;
  
    --color-gray-50: #FAFAFA;
    --color-gray-100: #F5F5F5;
    --color-gray-200: #EEEEEE;
    --color-gray-300: #E0E0E0;
    --color-gray-400: #BDBDBD;
    --color-gray-500: #9E9E9E;
    --color-gray-600: #757575;
    --color-gray-700: #616161;
    --color-gray-800: #424242;
    --color-gray-900: #212121;

    --color-blue-gray-50: #ECEFF1;
    --color-blue-gray-100: #CFD8DC;
    --color-blue-gray-200: #B0BEC5;
    --color-blue-gray-300: #90A4AE;
    --color-blue-gray-400: #78909C;
    --color-blue-gray-500: #607D8B;
    --color-blue-gray-600: #546E7A;
    --color-blue-gray-700: #455A64;
    --color-blue-gray-800: #37474F;
    --color-blue-gray-900: #263238;
  }

body {
    background-color: var(--color-blue-gray-900);
    color: var(--color-primary-100);
    font-family: Arial, sans-serif;
    margin: 20px;
}

.section {
    background-color: var(--color-blue-gray-700);
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}
.section h2,h1 {
    font-family:JetBrains mono, Courier, monospace;
    margin-top: 0;
    color: var(--color-yellow-300)
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
}
input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}
input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #6200ea;
    outline: none;
}
input[type="checkbox"] {
    margin-right: 8px;
}
button {
    background-color: var(--color-green-500);
    color: var(--color-blue-gray-900);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: var(--color-secondary-300);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: var(--color-blue-gray-400);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 17px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}