:root {
    /* Primary Colors */
    --color-primary-50: #E3F2FD;
    --color-primary-100: #BBDEFB;
    --color-primary-200: #90CAF9;
    --color-primary-300: #64B5F6;
    --color-primary-400: #42A5F5;
    --color-primary-500: #2196F3;
    --color-primary-600: #1E88E5;
    --color-primary-700: #1976D2;
    --color-primary-800: #1565C0;
    --color-primary-900: #0D47A1;
  
    /* Secondary Colors */
    --color-secondary-50: #EDE7F6;
    --color-secondary-100: #D1C4E9;
    --color-secondary-200: #B39DDB;
    --color-secondary-300: #9575CD;
    --color-secondary-400: #7E57C2;
    --color-secondary-500: #673AB7;
    --color-secondary-600: #5E35B1;
    --color-secondary-700: #512DA8;
    --color-secondary-800: #4527A0;
    --color-secondary-900: #311B92;
  
    /* Additional Colors */
    --color-red-50: #FFEBEE;
    --color-red-100: #FFCDD2;
    --color-red-200: #EF9A9A;
    --color-red-300: #E57373;
    --color-red-400: #EF5350;
    --color-red-500: #F44336;
    --color-red-600: #E53935;
    --color-red-700: #D32F2F;
    --color-red-800: #C62828;
    --color-red-900: #B71C1C;
  
    --color-green-50: #E8F5E9;
    --color-green-100: #C8E6C9;
    --color-green-200: #A5D6A7;
    --color-green-300: #81C784;
    --color-green-400: #66BB6A;
    --color-green-500: #4CAF50;
    --color-green-600: #43A047;
    --color-green-700: #388E3C;
    --color-green-800: #2E7D32;
    --color-green-900: #1B5E20;
  
    --color-yellow-50: #FFFDE7;
    --color-yellow-100: #FFF9C4;
    --color-yellow-200: #FFF59D;
    --color-yellow-300: #FFF176;
    --color-yellow-400: #FFEE58;
    --color-yellow-500: #FFEB3B;
    --color-yellow-600: #FDD835;
    --color-yellow-700: #FBC02D;
    --color-yellow-800: #F9A825;
    --color-yellow-900: #F57F17;
  
    --color-gray-50: #FAFAFA;
    --color-gray-100: #F5F5F5;
    --color-gray-200: #EEEEEE;
    --color-gray-300: #E0E0E0;
    --color-gray-400: #BDBDBD;
    --color-gray-500: #9E9E9E;
    --color-gray-600: #757575;
    --color-gray-700: #616161;
    --color-gray-800: #424242;
    --color-gray-900: #212121;

    --color-blue-gray-50: #ECEFF1;
    --color-blue-gray-100: #CFD8DC;
    --color-blue-gray-200: #B0BEC5;
    --color-blue-gray-300: #90A4AE;
    --color-blue-gray-400: #78909C;
    --color-blue-gray-500: #607D8B;
    --color-blue-gray-600: #546E7A;
    --color-blue-gray-700: #455A64;
    --color-blue-gray-800: #37474F;
    --color-blue-gray-900: #263238;
  }
  
html {
    padding: 0;
}

body {
    width: 250px;
    padding: 5px;
    font-family: JetBrains mono;
    color: var(--color-secondary-100);
    background-color: var(--color-blue-gray-900);
}
body h2{
    color: var(--color-secondary-400)
}

footer {
    background-color: var(--color-blue-gray-700);
    text-align: center;
    padding: 2px;
    border-radius: 4px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: var(--color-blue-gray-700);
    transition:  500ms;
    border-radius: 5px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background-color: #00E676;
    transition:  500ms;
    transition-timing-function: ease;
}

.progress-text {
    font-size: 12px;
    text-align: center;
    margin-top: 2px;
}

.status {
    background-color: var(--color-blue-gray-700);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.no-internet {
    color: var(--color-red-400);
    font-weight: 600;
    align-self: flex-end;
    padding-bottom: 8px;
}

.internet {
    color: #00E676;
    font-weight: 600;
    align-self: flex-end;
    font-size: 14px;
}

button {
    display: inline-block;
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
    font-family: JetBrains mono;
}

.restart {
    background-color: #00E676;
    color: #181717;
}

.login {
    background-color: #1DE9B6;
    color: #181717;
}

button:hover {
    background-color: #e0e0e0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(231, 231, 231, 0.911);
    z-index: 9999;
    text-align: center;
    font-size: 20px;
    padding-top: 90%;
    padding-left: 10px;
    justify-content: center;
    transition: 0.5s;
    display: none;
}

#overlay::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    text-align: center;
}

.loading {
    width: 60%;
    display: flex;
    padding-left: 34px;
}

.signal-container {
    display: flex;
    padding-top: 10px;
}

#signal{
    width: 40px;
    height: 30px;
}

#wifi{
    width: 36px;
    height: 24px
}

